html {
    scroll-behavior: smooth;
}
body {
    scroll-behavior: smooth;
    font-family:monospace;
    background-color: lavenderblush;
    font-size: 1.5vh;
    margin: 10;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}
.sec0 {
    height: 100%;
    position: flex;
    top: 100%; right: 0; left: 0;
    transition-delay: 0.5s;
    height: 100%;
    width: 100%;
}
.sec1 {
    background-color:rgb(197, 210, 228);
    height: 100%;
    font-size: 3vh;
    align-items: center;
    top: 100; right:0; left:0; bottom: 100;
    padding: 50px 0 50px;
}
.sec2 {
    display: block;
    overflow: auto;
    min-height: 100%;
    background-attachment: fixed;
    background-image: url("cute\ sky.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    font-size: 2vh;   
    align-items: center;
    margin: 0;
    box-sizing: border-box;
    top: 100%; right: 0; left: 0;
    width: 100%;
    color:rgb(197, 215, 224);
}
.sec3 {
    background-attachment: fixed;
    background-image: url("cute\ pink.png");
    background-repeat: no-repeat;
    background-size:cover;
    font-size: 2vh;   
    align-items: center;
    margin-top: 0px;
    box-sizing: border-box;
    height: 100%;
    top: 100%; right: 0; left: 0;
    width: 100%;
    color:ivory;
}
@media only screen 
and (max-device-height: 1024px) and (max-device-width: 1024px){
    .sec3, .sec1 {
        background-attachment: scroll;
    }
}

h1 {
    margin-top: 50;
    margin-bottom: 0;
    font-size: 4.5vh;
    color:lightslategray;
    width: 100%;
}

h2, h3, h4 {
    margin: 0;
    padding: 0;
    margin-top: 50;
    font-size: 4vh;
    width: 100%;
}
.pic img{
    width: 25vh;
    height: 25vh;
}
.pic {
    
    position: center;
}
p , .text{
    color:lightslategray;
    font-size: 2vh;
    width: 100%;
}
.kitty1 {
    background-image: url("kitty.jpg");
    min-height: 2vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.kitty2 {
    background-image: url("kit.jpg");
    min-height: 2vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.kitty3 {
    background-image: url("cat.jpg.jpg");
    min-height: 2vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#about_me {
    word-wrap: break-word;
}
#my_skills {
    word-wrap: break-word;
}
#my_port {
    word-wrap: break-word;
}